
<!DOCTYPE html>
<html lang="en">
<html>

<head>


<h1>Vaccination Record</h1>
<h3>to search for a particular record, Enter Vaccination ID</h3>






<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box;}

body {
 
}
</style>
</head>
<body>

  <input type="text" placeholder="Search For Vaccine Record..">
</div>

<!DOCTYPE html>
<html>
<body>

<h2>Vaccination Details</h2>

<form action="/action_page.php">
  <label for="fname">Full name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="VID">Vaccination ID:</label><br>
  <input type="text" id="VID" name="VID" ><br><br>
  <label for="CID">Citizen ID:</label><br>
  <input type="text" id="CID" name="CID"><br><br>
  <label for="VD">Vaccination Date :</label><br>
  <input type="text" id="VD" name="VD" ><br><br>
   <label for="VType">Vaccination Type :</label><br>
  <input type="text" id="Vtype" name="Vtype" ><br><br>
   <label for="VD">Vaccination Dose :</label><br>
  <input type="text" id="VD" name="VD" ><br><br>
  
  
  
  <input type="Reset" value="Reset">
</form> 


</body>
</html>


<div style="padding-left:16px">


</body>
</html>